#!/bin/bash

# Exit on error
set -e

LOCKFILE="/tmp/rsync-wrapper.lock"

run-rsync() {

    # Try to acquire the lock
    if mkdir "$LOCKFILE"; then

        # Lock acquired, perform rsync backup
        mkdir -p "$destination"

        rsync \
                --append \
                --archive \
                --exclude "*.lnk" \
                --exclude "desktop.ini" \
                --exclude "Google*" \
                --info=progress2 \
                --partial \
                "$1/" \
                "$2/"

        # Release the lock
        rmdir "$LOCKFILE"

    else

        # Unable to acquire the lock, a previous instance is still running
        message="Previous rsync job is still running (LOCKFILE path: ${LOCKFILE}), canceling."
        echo "$message"
        cat "$message" >> "${HOME}/Desktop/rsync-wrapper.log"
        exit 1

    fi

}

main() {

    #############################
    #                           #
    #          EXAMPLE          #
    #                           #
    #############################

    # source="/home/jonathan/Desktop/@files"
    # destination="/mnt/external-drive/backups/@files"

    # run-rsync "${source}/" "${destination}/"

    ##############################################
    #                                            #
    #          BEGIN USER CONFIGURATION          #
    #                                            #
    ##############################################

    # @files

    remote="sysadmin@raspberry-pi"

    source="/mnt/d"
    destination="${remote}:/filepacks/@files"

    run-rsync "$source" "$destination"

}

main







